body#book_copyright_page {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
}

body#book_copyright_page p.emphasized {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 150%;
}
